* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  font-family: var(--font-family);
}


a {
  color: unset;
  text-decoration: none;
}

ul, li {
  list-style: none;
}
